<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Service
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="m-content">
            <!--begin::Portlet-->
            <div class="m-portlet">
              <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                  <h4 class="m-portlet__head-text">
                    Service List
                  </h4>
                </div>
                <!-- <div *ngIf="response">{{success_message}}</div> -->
                <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                                <li class="m-portlet__nav-item">
                                        <button  type="button" data-toggle="modal" data-target="#create_service" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air">
                                            <span>
                                                <i class="la la-plus"></i>
                                                <span>New Record</span>
                                            </span>
                                        </button>
                                    </li>
                        </ul>
                    </div>
              </div>

              <div class="m-portlet__body p-0">
                <table class="table table-items table-block">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Price</th>
                      <th>Tax</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let servicedata of serviceData | paginate: { itemsPerPage: 10, currentPage: p }">
                      <td>{{servicedata.name}}</td>
                      <td [innerHTML]="servicedata.scope"></td>
                      <!-- <td>{{servicedata.scope}}</td> -->
                      <td>{{servicedata.price}}</td>
                      <td>{{servicedata.tax}}</td>
                    </tr>
                    <!-- <tr *ngIf="(serviceData).length === 0">
                      <div class="p-2 text-center">No result found</div>
               </tr> -->
                  </tbody>
                </table>
              </div>
              <div class="m-portlet__foot">
                    <div class="row align-items-center">
                        <div class="col-lg-6 m--valign-middle">
                          <pagination-controls (pageChange)="p = $event" class="pagination mb-0" previousLabel="" nextLabel="">
                          </pagination-controls>                      
                          </div>
                        <!-- <div class="col-lg-6 m--align-right">
                            <button type="submit" class="btn btn-brand">Submit</button>                           
                        </div> -->
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
          </div>

          <!-- model  -->

          <div class="modal fade" id="create_service" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Create a new Service</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <form id="create_service_form" name="create_service_form" [formGroup] = "createServiceForm" (ngSubmit)="createService()">
                        <div class="modal-body">
                          <div class="form-group">
                            <label for="name">Name</label>
                            <input  formControlName="name" class="form-control" type="text" id="name" name="name" value=""
                            [ngClass]="{ 'is-invalid': submitted && createServiceForm.get('name').invalid && createServiceForm.get('name').touched }" />
                      <div *ngIf="submitted || createServiceForm.get('name').invalid && createServiceForm.get('name').touched">
                        <span class="text-danger form-control-feedback" *ngIf="createServiceForm.get('name').errors?.required">This field is
                          required.</span>
                        <!-- <div class="text-danger form-control-feedback" *ngIf="email.errors?.email">Email must be a valid email address</div> -->
                      </div>
                          </div>
                          <div class="form-group">
                              <label for="scope">Description</label>
                              <textarea formControlName="scope" class="form-control" ></textarea>
                              <!-- <input formControlName="scope" class="form-control" type="text" id="scope" name="scope" value="" /> -->
                              <!-- <div class="">
                                      <div class="summernote form-control" type="text" id="scope" name="scope" value="" ></div>
                              </div> -->
                              <!-- <div *ngIf="textAreaError">
                                <span>This field is required.</span>
                              </div> -->
                          </div>
                          <div class="form-group">
                              <label for="price">Price</label>
                              <input formControlName="price" class="form-control" type="text" id="price" name="price" value="" 
                              [ngClass]="{ 'is-invalid': submitted && createServiceForm.get('price').invalid && createServiceForm.get('price').touched }" />
                              <div *ngIf="submitted || createServiceForm.get('price').invalid && createServiceForm.get('price').touched">
                                <span class="text-danger form-control-feedback" *ngIf="createServiceForm.get('price').errors?.required">This field is
                                  required.</span>
                                  <span *ngIf="createServiceForm.get('price').errors?.pattern" class="text-danger">Number Only</span>
                                <!-- <div class="text-danger form-control-feedback" *ngIf="email.errors?.email">Email must be a valid email address</div> -->
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="tax">Tax</label>
                              <input formControlName="tax" class="form-control" type="text" id="tax" name="tax" value="" 
                              [ngClass]="{ 'is-invalid': submitted && createServiceForm.get('tax').invalid && createServiceForm.get('tax').touched }" />
                              <div *ngIf="submitted || createServiceForm.get('tax').invalid && createServiceForm.get('tax').touched">
                                <span class="text-danger form-control-feedback" *ngIf="createServiceForm.get('tax').errors?.required">This field is
                                  required.</span>
                                  <span *ngIf="createServiceForm.get('tax').errors?.pattern" class="text-danger">Number Only</span>
                                  <!-- <span *ngIf="createServiceForm.get('tax').errors?.maxLength" class="text-danger">maximum 3 character</span> -->
                              </div>
                          </div>
                      </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                  </div>
              </div>
          </div>




<!-- END: Subheader -->
<!-- <div class="m-content"> -->
    <!--begin::Portlet-->
    <!-- <div class="m-portlet">
      <div class="m-portlet__body">
        <ul
          class="nav nav-tabs m-tabs-line m-tabs-line--success text-center"
          role="tablist"
        >
          <li class="nav-item m-tabs__item">
            <a
              class="nav-link m-tabs__link active"
              data-toggle="tab"
              href="#m_tabs_2_1"
              role="tab"
            >
              <h5>New</h5>
              <small>32 worth $143,322.75</small>
            </a>
          </li>

          <li class="nav-item m-tabs__item">
            <a
              class="nav-link m-tabs__link"
              data-toggle="tab"
              href="#m_tabs_2_2"
              role="tab"
            >
              <h5>Estimate</h5>
              <small>32 worth $143,322.75</small>
            </a>
          </li>
          <li class="nav-item m-tabs__item">
            <a
              class="nav-link m-tabs__link"
              data-toggle="tab"
              href="#m_tabs_2_3"
              role="tab"
            >
              <h5>Estimate Sent</h5>
              <small>32 worth $143,322.75</small>
            </a>
          </li>
          <li class="nav-item m-tabs__item">
            <a
              class="nav-link m-tabs__link"
              data-toggle="tab"
              href="#m_tabs_2_4"
              role="tab"
            >
              <h5>Estimate Viewed</h5>
              <small>32 worth $143,322.75</small>
            </a>
          </li>
          <li class="nav-item m-tabs__item">
            <a
              class="nav-link m-tabs__link"
              data-toggle="tab"
              href="#m_tabs_2_5"
              role="tab"
            >
              <h5>Lost</h5>
              <small>32 worth $143,322.75</small>
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="m_tabs_2_1" role="tabpanel">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Opportunity</th>
                  <th>Contact</th>
                  <th>Assigned to</th>
                  <th>Date</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">9318</th>
                  <td>
                    <strong>
                      <a class="listing-title" href="/"
                        >Soil Remediation</a
                      >
                    </strong>
                    <div class="listing-table-description small">
                      No description.
                    </div>
                  </td>
                  <td class="listing-table-address">
                    
                    <div class="small">
                      <div class="listing-customer-name">
                        <strong>
                          <a href="/ercenvironmental/customers/8365"
                            >John Rich</a
                          >
                        </strong>
                      </div>
                      <address
                        class="customer-address customer-service-address"
                      >
                        <div class="customer-service-address_1">
                          31 Fawn Lake Road
                        </div>
                        <div class="customer-service-address_2">
                          
                        </div>
                        <span class="customer-service-city"
                          >Hardyston Township </span
                        ><span class="customer-service-state">NJ </span
                        ><span class="customer-service-zip_code"
                          >07460 </span
                        ><span class="customer-service-country"
                          >United States</span
                        >
                      </address>
                    </div>
                    <small class="listing-phone-number">
                      <span class="text-muted">•</span>
                      <a href="mailto:johnr927@gmail.com"
                        >johnr927@gmail.com</a
                      >
                    </small>
                  </td>
                  <td>Unassigned</td>
                  <td class="listing-table-date">                            
                    <span class="listing-date small">                              
                      Sep 12 2019 <br />
                      4:34 pm
                    </span>
                  </td>
                  <td>$8,990.00</td>
                </tr>
                <tr>
                    <th scope="row">9318</th>
                    <td>
                      <strong>
                        <a class="listing-title" href="/"
                          >Soil Remediation</a
                        >
                      </strong>
                      <div class="listing-table-description small">
                        No description.
                      </div>
                    </td>
                    <td class="listing-table-address">
                      
                      <div class="small">
                        <div class="listing-customer-name">
                          <strong>
                            <a href="/ercenvironmental/customers/8365"
                              >John Rich</a
                            >
                          </strong>
                        </div>
                        <address
                          class="customer-address customer-service-address"
                        >
                          <div class="customer-service-address_1">
                            31 Fawn Lake Road
                          </div>
                          <div class="customer-service-address_2">
                            
                          </div>
                          <span class="customer-service-city"
                            >Hardyston Township </span
                          ><span class="customer-service-state">NJ </span
                          ><span class="customer-service-zip_code"
                            >07460 </span
                          ><span class="customer-service-country"
                            >United States</span
                          >
                        </address>
                      </div>
                      <small class="listing-phone-number">
                        <span class="text-muted">•</span>
                        <a href="mailto:johnr927@gmail.com"
                          >johnr927@gmail.com</a
                        >
                      </small>
                    </td>
                    <td>Unassigned</td>
                    <td class="listing-table-date">                            
                      <span class="listing-date small">                              
                        Sep 12 2019 <br />
                        4:34 pm
                      </span>
                    </td>
                    <td>$8,990.00</td>
                  </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane" id="m_tabs_2_2" role="tabpanel">
            22
          </div>
          <div class="tab-pane" id="m_tabs_2_3" role="tabpanel">
            23
          </div>
          <div class="tab-pane" id="m_tabs_2_4" role="tabpanel">
            24
          </div>
          <div class="tab-pane" id="m_tabs_2_5" role="tabpanel">
            25
          </div>
        </div>
      </div>
    </div> -->

    <!--end::Portlet-->
<!-- </div> -->
