<!-- BEGIN: Left Aside -->
<button
  class="m-aside-left-close  m-aside-left-close--skin-dark"
  id="m_aside_left_close_btn"
  appunwraptag=""
>
  <i class="la la-close"></i>
</button>
<div
  id="m_aside_left"
  class="m-grid__item	m-aside-left  m-aside-left--skin-dark"
>
  <!-- BEGIN: Aside Menu -->
  <div
    id="m_ver_menu"
    class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark"
    m-menu-vertical="1"
    m-menu-scrollable="1"
    m-menu-dropdown-timeout="500"
    style="position: relative;"
  >
  <!-- <div class="p-2 text-center">
    <a class="btn btn-sm btn-outline-light" href="">Add</a>
  </div> -->
    <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">

        <li
        class="m-menu__item  "
        routerLinkActive="m-menu__item--active"
        routerLinkActiveOptions="{ exact: true }"
        aria-haspopup="true"
      >
        <a routerLink="/index" class="m-menu__link"
          ><i class="m-menu__link-icon la la-plus"></i
          ><span class="m-menu__link-title">
            <span class="m-menu__link-wrap">
              <span class="m-menu__link-text">New Opportunity</span>
              
            </span></span
          ></a
        >
      </li>

        <li
        class="m-menu__item  "
        routerLinkActive="m-menu__item--active"
        routerLinkActiveOptions="{ exact: true }"
        aria-haspopup="true"
      >
        <a routerLink="/services" class="m-menu__link"
          ><i class="m-menu__link-icon flaticon-line-graph"></i
            ><span class="m-menu__link-title">
            <span class="m-menu__link-wrap">
              <span class="m-menu__link-text">Services</span>
            </span></span
          ></a
        >
      </li>
      <li class="m-menu__section-divider">
        </li>

      <li
        class="m-menu__item  "
        routerLinkActive="m-menu__item--active"
        routerLinkActiveOptions="{ exact: true }"
        aria-haspopup="true"
      >
        <a routerLink="/index" class="m-menu__link"
          ><i class="m-menu__link-icon flaticon-line-graph"></i
          ><span class="m-menu__link-title">
            <span class="m-menu__link-wrap">
              <span class="m-menu__link-text">Dashboard</span>
              
            </span></span
          ></a
        >
      </li>

      <li
      class="m-menu__item  "
      routerLinkActive="m-menu__item--active"
      routerLinkActiveOptions="{ exact: true }"
      aria-haspopup="true"
    >
      <a routerLink="/opportunity" class="m-menu__link"
        ><i class="m-menu__link-icon flaticon-line-graph"></i
          ><span class="m-menu__link-title">
          <span class="m-menu__link-wrap">
            <span class="m-menu__link-text">Opportunities</span>
          </span></span
        ></a
      >
    </li>

    <li
    class="m-menu__item  "
    routerLinkActive="m-menu__item--active"
    routerLinkActiveOptions="{ exact: true }"
    aria-haspopup="true"
  >
    <a href="javascript:void(0)" class="m-menu__link"
      ><i class="m-menu__link-icon flaticon-line-graph"></i
      ><span class="m-menu__link-title">
        <span class="m-menu__link-wrap">
          <span class="m-menu__link-text">Jobs</span>
          
        </span></span
      ></a
    >
  </li>

      
            <li
              class="m-menu__item  "
              routerLinkActive="m-menu__item--active"
              routerLinkActiveOptions="{ exact: true }"
              aria-haspopup="true"
            >
              <a routerLink="/contacts" class="m-menu__link"
                ><i class="m-menu__link-icon flaticon-line-graph"></i
                  ><span class="m-menu__link-title">
                  <span class="m-menu__link-wrap">
                    <span class="m-menu__link-text">Contacts</span>
                  </span></span
                ></a
              >
            </li>

            <li
            class="m-menu__item  "
            routerLinkActive="m-menu__item--active"
            routerLinkActiveOptions="{ exact: true }"
            aria-haspopup="true"
          >
            <a href="javascript:void(0)" class="m-menu__link"
              ><i class="m-menu__link-icon flaticon-line-graph"></i
              ><span class="m-menu__link-title">
                <span class="m-menu__link-wrap">
                  <span class="m-menu__link-text">Report</span>
                  
                </span></span
              ></a
            >
          </li>

          <li
          class="m-menu__item  "
          routerLinkActive="m-menu__item--active"
          routerLinkActiveOptions="{ exact: true }"
          aria-haspopup="true"
        >
          <a routerLink="/lead" class="m-menu__link"
            ><i class="m-menu__link-icon flaticon-line-graph"></i
            ><span class="m-menu__link-title">
              <span class="m-menu__link-wrap">
                <span class="m-menu__link-text">Lead</span>
                
              </span></span
            ></a
          >
        </li>
        <li class="m-menu__section-divider">
        </li>
                    <!-- <li class="m-menu__section">
                <h4 class="m-menu__section-text">Others</h4>
                <i class="m-menu__section-icon flaticon-more-v3"></i>
              </li> -->
              <li
              class="m-menu__item  "
              routerLinkActive="m-menu__item--active"
              routerLinkActiveOptions="{ exact: true }"
              aria-haspopup="true"
            >
              <a href="javascript:void(0)" class="m-menu__link"
                ><i class="m-menu__link-bullet m-menu__link-bullet--dot"
                  ><span></span></i
                ><span class="m-menu__link-title">
                  <span class="m-menu__link-wrap">
                    <span class="m-menu__link-text">Schedules</span>
                  </span></span
                ></a
              >
            </li>
            <li
              class="m-menu__item  "
              routerLinkActive="m-menu__item--active"
              routerLinkActiveOptions="{ exact: true }"
              aria-haspopup="true"
            >
              <a href="javascript:void(0)" class="m-menu__link"
                ><i class="m-menu__link-bullet m-menu__link-bullet--dot"
                  ><span></span></i
                ><span class="m-menu__link-title">
                  <span class="m-menu__link-wrap">
                    <span class="m-menu__link-text">Calendar</span>
                  </span></span
                ></a
              >
            </li>      
    </ul>
  </div>
  <!-- END: Aside Menu -->
</div>
<!-- END: Left Aside -->
