<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="mr-auto"><h3 class="m-subheader__title">Dashboard</h3></div>
    <div>
      
    </div>
  </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
  <!--begin:: Widgets/Stats-->
  <div class="m-portlet m-portlet--head-sm m-portlet--rounded">
	<div class="m-portlet__head">
	  <div class="m-portlet__head-caption">
		<div class="m-portlet__head-title">
		  <h3 class="m-portlet__head-text m--font-brand">
			Events
		  </h3>
		</div>
	  </div>
	</div>
	<div class="m-portlet__body  m-portlet__body--no-padding">
	  <div class="row m-row--no-padding m-row--col-separator-xl">
		<div class="col-md-12 col-lg-6 col-xl-4">
		  <!--begin::Total Profit-->
		  <div class="m-widget24">
			<div class="m-widget24__item">
			  <h4 class="m-widget24__title">
				Today
			  </h4>
			  <br />
			  <span class="m-widget24__desc">
				$46,571.25
			  </span>
			  <span class="m-widget24__stats">
				  <span class="m-type m--bg-primary">
					  <span class="m--font-light">21</span>
					</span>
				
			  </span>
			  <div class="m--space-30"></div>
			</div>
		  </div>

		  <!--end::Total Profit-->
		</div>
		<div class="col-md-12 col-lg-6 col-xl-4">
		  <!--begin::Total Profit-->
		  <div class="m-widget24">
			<div class="m-widget24__item">
			  <h4 class="m-widget24__title">
				Next 7 days
			  </h4>
			  <br />
			  <span class="m-widget24__desc">
				$78,776.25
			  </span>
			  <span class="m-widget24__stats">
				  <span class="m-type m--bg-primary">
					  <span class="m--font-light">97</span>
					</span>
			  </span>
			  <div class="m--space-30"></div>
			</div>
		  </div>

		  <!--end::Total Profit-->
		</div>
		<div class="col-md-12 col-lg-6 col-xl-4">
		  <!--begin::Total Profit-->
		  <div class="m-widget24">
			<div class="m-widget24__item">
			  <h4 class="m-widget24__title">
				Next 30 days
			  </h4>
			  <br />
			  <span class="m-widget24__desc">
				$78,776.25
			  </span>
			  <span class="m-widget24__stats">
				  <span class="m-type m--bg-primary">
					  <span class="m--font-light">115</span>
					</span>
			  </span>
			  <div class="m--space-30"></div>
			</div>
		  </div>

		  <!--end::Total Profit-->
		</div>
	  </div>
	</div>
  </div>
  <!--end:: Widgets/Stats-->

  <!--begin:: Widgets/Stats-->
  <div class="m-portlet m-portlet--head-sm m-portlet--rounded">
	<div class="m-portlet__head ">
	  <div class="m-portlet__head-caption">
		<div class="m-portlet__head-title">
		  <h3 class="m-portlet__head-text m--font-success">
			Opportunities
		  </h3>
		</div>
	  </div>
	</div>
	<div class="m-portlet__body  m-portlet__body--no-padding">
	  <div class="row m-row--no-padding m-row--col-separator-xl">
		<div class="col-md-12 col-lg-6 col-xl-3">
		  <!--begin::Total Profit-->
		  <div class="m-widget24">
			<div class="m-widget24__item">
			  <h4 class="m-widget24__title">
				New
			  </h4>
			  <br />
			  <span class="m-widget24__desc">
				$143,322.75
			  </span>
			  <span class="m-widget24__stats">
				32
			  </span>
			  <div class="m--space-20"></div>
			</div>
		  </div>

		  <!--end::Total Profit-->
		</div>
		<div class="col-md-12 col-lg-6 col-xl-3">
		  <!--begin::Total Profit-->
		  <div class="m-widget24">
			<div class="m-widget24__item">
			  <h4 class="m-widget24__title">
				Estimate scheduled
			  </h4>
			  <br />
			  <span class="m-widget24__desc">
				$0.0
			  </span>
			  <span class="m-widget24__stats">
				97
			  </span>
			  <div class="m--space-20"></div>
			</div>
		  </div>

		  <!--end::Total Profit-->
		</div>
		<div class="col-md-12 col-lg-6 col-xl-3">
		  <!--begin::Total Profit-->
		  <div class="m-widget24">
			<div class="m-widget24__item">
			  <h4 class="m-widget24__title">
				Estimate sent
			  </h4>
			  <br />
			  <span class="m-widget24__desc">
				$78,776.25
			  </span>
			  <span class="m-widget24__stats">
				115
			  </span>
			  <div class="m--space-20"></div>
			</div>
		  </div>

		  <!--end::Total Profit-->
		</div>
		<div class="col-md-12 col-lg-6 col-xl-3">
		  <!--begin::Total Profit-->
		  <div class="m-widget24">
			<div class="m-widget24__item">
			  <h4 class="m-widget24__title">
				Estimate viewed
			  </h4>
			  <br />
			  <span class="m-widget24__desc">
				$78,776.25
			  </span>
			  <span class="m-widget24__stats">
				115
			  </span>
			  <div class="m--space-20"></div>
			</div>
		  </div>

		  <!--end::Total Profit-->
		</div>
	  </div>
	</div>
  </div>
  <!--end:: Widgets/Stats-->

  <!--begin:: Widgets/Stats-->
  <div class="m-portlet m-portlet--head-sm m-portlet--rounded">
	<div class="m-portlet__head ">
	  <div class="m-portlet__head-caption">
		<div class="m-portlet__head-title">
		  <h3 class="m-portlet__head-text m--font-danger">
			Jobs
		  </h3>
		</div>
	  </div>
	</div>
	<div class="m-portlet__body  m-portlet__body--no-padding">
	  <div class="row m-row--no-padding m-row--col-separator-xl">
		<div class="col-md-12 col-lg-6 col-xl-3">
		  <!--begin::Total Profit-->
		  <div class="m-widget24">
			<div class="m-widget24__item">
			  <h4 class="m-widget24__title">
				Unscheduled
			  </h4>
			  <br />
			  <span class="m-widget24__desc">
				$41,640.00
			  </span>
			  <span class="m-widget24__stats">
				17
			  </span>
			  <div class="m--space-20"></div>
			</div>
		  </div>

		  <!--end::Total Profit-->
		</div>
		<div class="col-md-12 col-lg-6 col-xl-3">
		  <!--begin::Total Profit-->
		  <div class="m-widget24">
			<div class="m-widget24__item">
			  <h4 class="m-widget24__title">
				Scheduled
			  </h4>
			  <br />
			  <span class="m-widget24__desc">
				$1,315,810.66
			  </span>
			  <span class="m-widget24__stats">
				831
			  </span>
			  <div class="m--space-20"></div>
			</div>
		  </div>

		  <!--end::Total Profit-->
		</div>
		<div class="col-md-12 col-lg-6 col-xl-3">
		  <!--begin::Total Profit-->
		  <div class="m-widget24">
			<div class="m-widget24__item">
			  <h4 class="m-widget24__title">
				In progress
			  </h4>
			  <br />
			  <span class="m-widget24__desc">
				$404,674.79
			  </span>
			  <span class="m-widget24__stats">
				154
			  </span>
			  <div class="m--space-20"></div>
			</div>
		  </div>

		  <!--end::Total Profit-->
		</div>
		<div class="col-md-12 col-lg-6 col-xl-3">
		  <!--begin::Total Profit-->
		  <div class="m-widget24">
			<div class="m-widget24__item">
			  <h4 class="m-widget24__title">
				On hold
			  </h4>
			  <br />
			  <span class="m-widget24__desc">
				$78,776.25
			  </span>
			  <span class="m-widget24__stats">
				23
			  </span>
			  <div class="m--space-20"></div>
			</div>
		  </div>

		  <!--end::Total Profit-->
		</div>
	  </div>
	</div>
  </div>
  <!--end:: Widgets/Stats-->

  <!--begin:: Widgets/Stats-->
  <div class="m-portlet m-portlet--head-sm m-portlet--rounded">
	<div class="m-portlet__head ">
	  <div class="m-portlet__head-caption">
		<div class="m-portlet__head-title">
		  <h3 class="m-portlet__head-text m--font-warning">
			Invoices
		  </h3>
		</div>
	  </div>
	</div>
	<div class="m-portlet__body  m-portlet__body--no-padding">
	  <div class="row m-row--no-padding m-row--col-separator-xl">
		<div class="col-md-12 col-lg-6 col-xl-3">
		  <!--begin::Total Profit-->
		  <div class="m-widget24">
			<div class="m-widget24__item">
			  <h4 class="m-widget24__title">
				Unsent
			  </h4>
			  <br />
			  <span class="m-widget24__desc">
				$41,640.00
			  </span>
			  <span class="m-widget24__stats">
				470
			  </span>
			  <div class="m--space-20"></div>
			</div>
		  </div>

		  <!--end::Total Profit-->
		</div>
		<div class="col-md-12 col-lg-6 col-xl-3">
		  <!--begin::Total Profit-->
		  <div class="m-widget24">
			<div class="m-widget24__item">
			  <h4 class="m-widget24__title">
				Sent
			  </h4>
			  <br />
			  <span class="m-widget24__desc">
				$1,315,810.66
			  </span>
			  <span class="m-widget24__stats">
				831
			  </span>
			  <div class="m--space-20"></div>
			</div>
		  </div>

		  <!--end::Total Profit-->
		</div>
		<div class="col-md-12 col-lg-6 col-xl-3">
		  <!--begin::Total Profit-->
		  <div class="m-widget24">
			<div class="m-widget24__item">
			  <h4 class="m-widget24__title">
				Viewed
			  </h4>
			  <br />
			  <span class="m-widget24__desc">
				$404,674.79
			  </span>
			  <span class="m-widget24__stats">
				154
			  </span>
			  <div class="m--space-20"></div>
			</div>
		  </div>

		  <!--end::Total Profit-->
		</div>
		<div class="col-md-12 col-lg-6 col-xl-3">
		  <!--begin::Total Profit-->
		  <div class="m-widget24">
			<div class="m-widget24__item">
			  <h4 class="m-widget24__title">
				Unpaid
			  </h4>
			  <br />
			  <span class="m-widget24__desc">
				$78,776.25
			  </span>
			  <span class="m-widget24__stats">
				23
			  </span>
			  <div class="m--space-20"></div>
			</div>
		  </div>

		  <!--end::Total Profit-->
		</div>
	  </div>
	</div>
  </div>
  <!--end:: Widgets/Stats-->
</div>
